*.pyc
*.swp
/.ignore/
/Lib/std/c/compile.tmp/
/days
/du.dat
/src/fldb/tests/log/
/src/personnr/personnr
/src/smsum/tests/log/
/synced.sqlite
/synced.sqlite.*.bck
/tests/install-modules
/tests/log/
/x.dev/
