*.pyc
*.swp
.testadd.tmp/
/.ignore/
/Lib/std/c/STDexecDTS.c
/Lib/std/c/STDexecDTS.h
/Lib/std/c/compile.tmp/
/Lib/std/c/t/STDexecDTS.t
/Lib/std/ly/.version.ily
/Lib/std/ly/STDprojnameDTS.ly
/Lib/std/ly/STDprojnameDTS.midi
/Lib/std/ly/STDprojnameDTS.mp3
/Lib/std/ly/STDprojnameDTS.pdf
/Lib/std/ly/STDprojnameDTS.wav
/days
/du.dat
/src/fldb/tests/log/
/src/personnr/personnr
/src/smsum/tests/log/
/synced.sql.lock/
/synced.sqlite
/synced.sqlite.*.bck
/tests/install-modules
/tests/log/
/x.dev/
