*.pyc
*.swp
/.ignore/
/Lib/std/c/compile.tmp/
/days
/du.dat
/src/fldb/tests/log/
/src/personnr/personnr
/src/smsum/tests/log/
/src/suuid/tests/log/
/src/suuid/tests/sess-stderr.tmp
/src/suuid/tests/suuid-stderr.tmp
/src/suuid/tests/tmp-suuid-t-*/
/tests/install-modules
/tests/log/
/x.dev/
