[submodule "Git/gpstools"]
	path = Git/gpstools
	url = git@gitlab.com:oyvholm/gpstools.git
	branch = master
[submodule "Git/suuid"]
	path = Git/suuid
	url = git@gitlab.com:oyvholm/suuid.git
	branch = master
[submodule "Git/spar"]
	path = Git/spar
	url = git@gitlab.com:oyvholm/spar.git
