/*.c.gcov
/*.gcda
/*.gcno
/*.o
/*.s
/.devel
/.make-tlok.tmp
/STDexecDTS
/STDexecDTS.1
/STDexecDTS.1.tmp
/STDexecDTS.html
/STDexecDTS.html.tmp
/STDexecDTS.pdf
/STDexecDTS.pdf.tmp
/gdbopts
/gmon.out
/gmon.sum
/tags
/version.h
